/* // https://alvarotrigo.com/blog/hamburger-menu-css/
// 10. Full Screen Morphing Hamburger Menu */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.menu {
  position: fixed;
  right: 0px;
  top: -100px;
  z-index: 100;
  width: 100px;
  height: 200px;
  background: #fff;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  border-radius: 200px 0px 0px 200px;
  -moz-border-radius: 200px 0px 0px 200px;
  -webkit-border-radius: 200px 0px 0px 200px;
  border: 0px solid #000000;
}

.hamburger {
  position: fixed;
  top: 35px;
  right: 25px;
  z-index: 200;
  width: 30px;
  height: 4px;
  background: #7c3aed;
  display: block;
  cursor: pointer;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.hamburger:after,
.hamburger:before {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #7c3aed;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  bottom: -10px;
}

.menu-toggle {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
  height: 100vh;
  width: 100vw;
}

.hamburger-toggle {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger-toggle:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

.hamburger-toggle:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.links {
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 1s 0s ease-in-out;
  transition: 1s 0s ease-in-out;
}

/* https://alvarotrigo.com/blog/css-text-animations/ */
.animate-character:hover {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #c38fd8 0%,
    #7c3aed 29%,
    #a33aed 67%,
    #d43aed 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
