/* // https://blog.devgenius.io/diy-scrollspy-4f1c270cafaf */

html {
  scroll-behavior: smooth;
}

section {
  flex: 1 0 100%;
}

.active {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(0.25turn, #a781e9, #9c6fe9, #7c3aed);
  border-image-slice: 1;
  width: 100%;
}
