html {
  scroll-behavior: smooth;
}

section {
  background-size: cover;
  flex: 1 0 100%;
  margin: 1rem;
}

.active {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(0.25turn, #a781e9, #9c6fe9, #7c3aed);
  border-image-slice: 1;
  width: 100%;
}
